## 第二章 Python基本元素:数字 字符串和变量

* Python是强类型的(strongly typed),你永远无法修改一个已有对象的类型

In [3]:
a = 1
print(a)
type(a)
type('123')

1

str

#### 变量名要求
* 小写字母 大写字母 数字 下划线(_)
* 不能以数字开头
* 不能以关键字作为变量名

#### 数字
* +
* -
* *
* /
* // 整数除法
* %  求余
* ** 幂

In [6]:
7//2

3

In [10]:
# 使用divmod()同时得到商和余数
divmod(9,5)

(1, 4)

#### 基数
* 0b 0B 2
* 0o 0O 8
* 0x 0X 16

In [12]:
0b10

2

In [18]:
0xf

15

In [17]:
0o10

8

#### 类型转换

In [20]:
int(True)

1

In [21]:
int(98.6)

98

In [23]:
# 无法强制转换字符串形式的浮点数到整数
int('98.6')

ValueError: invalid literal for int() with base 10: '98.6'

In [25]:
int('-99')

-99

In [28]:
# 转换非整数的字符串也会出现异常
int('as')

ValueError: invalid literal for int() with base 10: 'as'

* python 3中的int可以为任意大

#### 浮点数

In [30]:
float('98.5')

98.5

In [32]:
float('1.0e9')

1000000000.0

#### 字符串

* 使用"" '' ''' '''都可以创建字符串

In [35]:
str(99.9)

'99.9'

In [37]:
str(True)

'True'

In [40]:
str(False)

'False'

* 使用\转义

In [42]:
print('hello\tworld!')

hello	world!

* 使用+拼接

In [44]:
a = 'hello'
b = 'world'
a + b

'helloworld'

* 使用*复制

In [46]:
print('*'*100)

****************************************************************************************************

* 使用[]提取字符

In [48]:
letters = 'asdfghjkl'
letters[1]

's'

In [50]:
letters[-1]

'l'

In [52]:
letters[100]

IndexError: string index out of range

In [60]:
# 字符串是不可变的 不能直接修改 只能用replace或者是切片生成新的
letters[0] = 'q'

TypeError: 'str' object does not support item assignment

In [61]:
letters_replace = letters.replace('a','s')
print(letters_replace,letters)

ssdfghjkl asdfghjkl

* 使用[start:end:step]切片

In [63]:
s = 'hello world!'
s[:]

'hello world!'

In [66]:
s[1:]

'ello world!'

In [67]:
s[:4]

'hell'

In [68]:
s[1:3]

'el'

In [71]:
s[::2]

'hlowrd'

In [74]:
s[-3:]

'ld!'

In [76]:
s[::-1]

'!dlrow olleh'

In [78]:
s[-5:-3]

'or'

* 使用len()获取长度

In [80]:
len(s)

12

* 使用split()分割

In [87]:
text = 'JackMa,TomZhang,KingLiu'
ls = text.split(',')
ls

['JackMa', 'TomZhang', 'KingLiu']

* 使用join()合并

In [86]:
'-'.join(ls)

'JackMa-TomZhang-KingLiu'

* 大小写和对齐方式

In [95]:
s = 'a duck gose into a bar...'
s.strip('.')

'a duck gose into a bar'

In [96]:
s.capitalize()

'A duck gose into a bar...'

In [97]:
s.title()

'A Duck Gose Into A Bar...'

In [99]:
s.upper()

'A DUCK GOSE INTO A BAR...'

In [100]:
s.lower()

'a duck gose into a bar...'

In [101]:
s.swapcase()

'A DUCK GOSE INTO A BAR...'

In [103]:
s.center(30)

'  a duck gose into a bar...   '

In [105]:
s.ljust(30)

'a duck gose into a bar...     '

In [106]:
s.rjust(30)

'     a duck gose into a bar...'

* 使用replace替换

In [110]:
# 可以指定替换次数 默认只替换首次
s.replace('duck','chicken',1)

'a chicken gose into a bar...'